<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>INFO列表</h1>

<a href="/info/add/">添加</a>

<table border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>姓名</th>
            <th>密码</th>
            <th>年龄</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {%for data in data_list%}
          <tr>
              <td>{{data.id}}</td>
              <td>{{data.name}}</td>
              <td>{{data.password}}</td>
              <td>{{data.age}}</td>
              <td>
                  <a href="/info/delete/?nid={{ data.id }}">删除</a>
              </td>
          </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>